In [ ]:
# Annual Housing Price Index by County

In [ ]:
# Load Modules
import pandas as pd

In [9]:
# Load Excel File
hpi_county = pd.read_excel("/Users/kluis/PycharmProjects/tahoe_sst/hpi_at_county.xlsx", skiprows=5)

# Filter by California
hpi_ca = hpi_county[hpi_county.State == 'CA']

In [15]:
# Filter by Counties of Interest
county_list = ['Los Angeles', 'Santa Barbara', 'San Diego', 'Orange']
hpi_exp = hpi_ca[hpi_ca['County'].isin(county_list)]

In [16]:
hpi_exp

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
6216,CA,Los Angeles,6037,1975,NaN,100.00,17.19,16.91
6217,CA,Los Angeles,6037,1976,20.96,120.96,20.79,20.45
6218,CA,Los Angeles,6037,1977,23.02,148.80,25.58,25.16
6219,CA,Los Angeles,6037,1978,19.99,178.55,30.69,30.19
6220,CA,Los Angeles,6037,1979,18.10,210.87,36.25,35.66
...,...,...,...,...,...,...,...,...
7373,CA,Santa Barbara,6083,2020,1.77,1663.19,266.21,211.39
7374,CA,Santa Barbara,6083,2021,12.07,1863.90,298.34,236.90
7375,CA,Santa Barbara,6083,2022,19.42,2225.94,356.29,282.91
7376,CA,Santa Barbara,6083,2023,6.96,2380.88,381.09,302.61
7377,CA,Santa Barbara,6083,2024,5.87,2520.53,403.44,320.36